<app-navbar-admin-home></app-navbar-admin-home>

<div class="container">
    <div class="registro">
      <form class="registro__form">
        <h1>Información producto</h1>
        <div class="group">
            <input type="txt" required="required" name="id_producto" formControlName="id_producto" /><span class="highlight"></span><span
                class="bar"></span>
            <label>Id del producto</label>
        </div>
        <div class="group">
            <input type="txt" required="required" name="nombre_producto" formControlName="nombre_producto" /><span class="highlight"></span><span
                class="bar"></span>
            <label>Nombre del producto</label>
        </div>
        <div class="group">
            <input type="number" required="required" name="precio_producto" formControlName="precio_producto" /><span class="highlight"></span><span
                class="bar"></span>
            <label>Precio del producto</label>
        </div>
        <div class="group">
            <input type="file" required="required" name="img" formControlName="img" /><span class="highlight"></span><span
                class="bar"></span>
        </div>

        <input type="submit" class="btn" value="Registrar">
      </form>
    </div>
  


  </div>

