<app-navbar-admin-home></app-navbar-admin-home>

<div class="container">
    <div class="registro">
      <form class="registro__form">
        <h1>Información proveedor</h1>
        <div class="group">
            <input type="txt" required="required" name="nombre" formControlName="nombre" /><span class="highlight"></span><span
                class="bar"></span>
            <label>Nombre del proveedor</label>
        </div>
        <div class="group">
            <input type="number" required="required" name="telefono" formControlName="telefono" /><span class="highlight"></span><span
                class="bar"></span>
            <label>Telefono</label>
        </div>
        <div class="group">
            <input type="email" required="required" name="correo" formControlName="correo" /><span class="highlight"></span><span
                class="bar"></span>
            <label>Correo</label>
        </div>
        <div class="group">
            <input type="text" required="required" name="dirrecion" formControlName="dirrecion" /><span class="highlight"></span><span
                class="bar"></span>
            <label>Dirreción</label>
        </div>

        <input type="submit" class="btn" value="Registrar">
      </form>
    </div>
  

  </div>

