<app-navbar-admin></app-navbar-admin>
  
  <div class="container">
    <div class="administrador">
      <form class="administrador__form" action="" method="POST">
        <h1>Administrador</h1>
        <div class="group">
          <input type="txt" required="required" name="UserName" formControlName="UserName" /><span class="highlight"></span><span
              class="bar"></span>
          <label>Nombre Usuario</label>
      </div>
      <div class="group">
        <input type="password" required="required" name="password" formControlName="password" /><span class="highlight"></span><span
            class="bar"></span>
        <label>Contraseña</label>
    </div>
        
        <input type="submit" class="btn" routerLink="/adminhome" value="Iniciar Sesión">
      </form>
    </div>
  
  </div>
