<app-navbar-admin></app-navbar-admin>

<div class="container">
  <div class="exampleContainer">
    <!-- <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email">
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field> -->
    <div>
      <h2 class="tittle">administrador</h2>
    </div>
    <form class="form">
      <mat-form-field class="inputContainer" appearance="fill">
        <mat-label>Usuario</mat-label>
        <input
          matInput
          class="input"
          [(ngModel)]="admin.USUARIO_ADMIN"
          name="UserName"
        />
      </mat-form-field>

      <mat-form-field class="inputContainer" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          class="input"
          [(ngModel)]="admin.CONTRASENA"
          name="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <button
        mat-button
        value="Iniciar Sesión"
        (click)="logAdmin()"
        class="inputContainer btn"
      >
        iniciar sesión
      </button>
      <!-- <input type="button" class="btn" mat-button value="Iniciar Sesión" (click)="logAdmin()"> -->
    </form>
  </div>
</div>
