.container img{
    margin-top: 1%;
    width: 100%;
}

.container p{
    position: absolute;
    font-size: 50px;
    width: 100%;
    display: flex;
    z-index: 1;
    top:10%;
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;

}

