<app-navbar-admin-home></app-navbar-admin-home>

<div class="container">
  <mat-drawer-container class="cotenedorBtn">
    <div class="contenbtn">
      <button
        type="button"
        class="btnslide"
        mat-button
        (click)="drawer.toggle()"
      >
        registrar producto
      </button>
    </div>
  </mat-drawer-container>

  <div class="lista">
    <div class="content-table">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>PRECIO</th>
            <th>CANTIDAD</th>
            <th colspan="4"></th>
          </tr>
        </thead>
        <tbody *ngFor="let Producto of ListaProducto">
          <tr>
            <td>{{ Producto.IDENTIFICACION_PRODUCTO }}</td>
            <td>{{ Producto.NOMBRE_PRODUCTO }}</td>
            <td>${{ Producto.FECHA_COMPRA }}</td>
            <td>{{ Producto.CANTIDAD_PRODUCTO }}</td>
            <td>
              <mat-icon
                class="btn edit"
                (click)="ModificarProducto(Producto.IDENTIFICACION_PRODUCTO)"
                value="Editar"
                >create</mat-icon
              >
            </td>
            <td>
              <mat-icon
                class="btn delete"
                value="Eliminar"
                (click)="deleteProducto(Producto.IDENTIFICACION_PRODUCTO)"
                >delete_forever</mat-icon
              >
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<mat-drawer #drawer class="sliderNav" mode="side">
  <div class="containerTittle">
    <h2 class="tittle">proveedor</h2>
  </div>

  <form class="registro__form">
    <mat-form-field appearance="fill" class="inputContainer">
      <mat-label>Id del producto</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="producto.IDENTIFICACION_PRODUCTO"
        name="id_producto"
      />
      <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="fill" class="inputContainer">
      <mat-label>Nombre del producto</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="producto.NOMBRE_PRODUCTO"
        name="nombre_producto"
      />
      <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="fill" class="inputContainer">
      <mat-label>Fecha de ingreso</mat-label>
      <input matInput type="date" name="fechaingreso" />
      <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="fill" class="inputContaine padding">
      <mat-label>Cantidad comprada</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="producto.CANTIDAD_PRODUCTO"
        name="CostoServicio"
      />
      <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="fill" class="inputContaine">
      <mat-label>Precio del producto</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="producto.FECHA_COMPRA"
        name="Costorvicio"
      />
      <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="fill" class="inputContainer">
      <mat-label>Imagen del producto</mat-label>
      <input matInput type="" name="Costo_Servicio" />
      <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>

    <!-- <mat-form-field appearance="fill" class="inputContainer">
            <mat-label>Identificacion del proveedor</mat-label> -->
    <input
      type="hidden"
      [(ngModel)]="producto.IDENTIFICACION_PROVEEDOR"
      name="Costo_Servicio"
    />
    <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    <!-- </mat-form-field> -->

    <button
      mat-button
      value="Registrar"
      (click)="AgregarProducto()"
      class="inputContainer btnInicio"
    >
      registrar
    </button>
  </form>

  <button
    mat-button
    (click)="drawer.toggle()"
    class="inputContainer btnCancelar"
  >
    Cancelar
  </button>
</mat-drawer>
