<!-- <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo"><a routerLink="/user-home"><img src="../assets/logo2.jpg" alt="logo" class="img"></a></label>
    <ul>            
        <li><a class="cerrar" (click)="logoutUser()">Cerrar sesión</a></li>

    </ul>
  </nav> -->


  <mat-toolbar class="nav">
    <span class="logo"
      ><a routerLink="/userHome"
        ><img src="../assets/logo.jpg" alt="logo" class="img" /></a
    ></span>
    <span class="example-spacer"></span>
    <!-- <span><a routerLink="/user-home">Inicio</a></span> -->
    <span><a (click)="logoutUser()" class="btn">Cerrar sesión</a></span>
  </mat-toolbar>