.container{
    margin: 20px;
  }

  .login{
    box-shadow: 1px 1px 4px rgba(235, 29, 53, 0.522);
    width: 30%;
    height: 50%;
    margin: 5% auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
  }

  .login__form h1{
    display: flex;
    justify-content: center;
    margin: 10px 0 40px 0;
  }

  .login__form{
    display: flex;
    flex-direction: column;

  }

  .login__form label{
    font-size: 1em;
    color: rgba(0, 0, 0, 0.8);
  }

  .login__form input{
    margin: 2px 0 20px 0 ;
  }
  

  
.btn{
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    color: white;
    background-color: rgba(235, 29, 53, 0.522);
    cursor: pointer;
    font-size: 1em;
    }
  
.btn:hover{
    background-color: rgba(235, 29, 53, 0.699);
    color: white;
  }

.txt{
    padding: 8px 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    border: 0 0 0 2px solid rgba(235, 29, 53, 0.699);
    width: 300px;
}

.txt:focus{
    border: 2px solid rgba(235, 29, 53, 0.699);
    outline: none;
    border-radius: 5px;
}

.reg{
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}