<app-navbar-home></app-navbar-home>
<div class="container">
    <div class="registro">
      <form class="registro__form" [formGroup]="angForm" (ngSubmit)="postdata(angForm)">
        <h1>Registrarse</h1>
        <div>

            <div class="columna">            
                <label for="nombre"><span>*</span>Nombre</label>
                <input type="text" class="txt" id="nombre" name="nombre" formControlName="nombre" placeholder="Ingrese nombre" required>
            </div>
        
            <div class="columna">
                <label for="apellido"><span>*</span>Apellido</label>
                <input type="text" class="txt" id="apellido" name="apellido" formControlName="apellido" placeholder="Ingrese su apellido" required>    
            </div>
        </div>
            <div>
                <div class="columna">
                    <label for="documento"><span>*</span>Documento</label>
                    <input type="text" class="txt" id="documento" name="documento" formControlName="documento" placeholder="Ingrese su documento" required>
                </div>
        
                <div class="columna">
                    <label for="celular"><span>*</span>Número de Celular</label>
                    <input type="text" class="txt" id="celular" name="celular" formControlName="celular" placeholder="Ingrese su número de celular" required>
                </div>
            </div>
  
        <div>
            <div class="columna">
                <label for="correo"><span>*</span>Correo Electrónico</label>
                <input type="email" class="txt" id="correo" name="correo" formControlName="correo" placeholder="Ingrese su correo" required>
            </div>

            <div class="columna">
                <label for="confirmarCorreo"><span>*</span>Confirmar Correo Electrónico</label>
                <input type="email" class="txt" id="confirmarCorreo" name="confirmarCorreo" formControlName="confirmarCorreo" placeholder="Confirme su correo" required>
            </div>
        </div>

        <div>
            <div  class="columna">
                <label for="contraseña"><span>*</span>Contraseña</label>
                <input type="password" class="txt" id="contraseña" name="contraseña" formControlName="contraseña" placeholder="Ingrese su contraseña" required>
            </div>

            <div  class="columna">
                <label for="confirmarContraseña"><span>*</span>Confirmar Contraseña</label>
                <input type="password" class="txt" id="confirmarContraseña" name="confirmarContraseña" formControlName="confirmarContraseña" placeholder="Confirme su contraseña" required>        
            </div>
        </div>


        <input type="submit" class="btn" value="Registrarse">
      </form>
    </div>
  
  </div>
