<app-navbar-home></app-navbar-home>

<div class="container">



    <div class="exampleContainer">

      
      <div>
        <h2 class="tittle">Registro</h2>
      </div>
      <form class="form">
      

      <mat-form-field appearance="fill" class="inputContaine">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" [(ngModel)]="regUsu.NOMBRE_CLIENTE"  name="nombre">
        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
      </mat-form-field>

      <mat-form-field appearance="fill" class="inputContaine">
        <mat-label>Apellido</mat-label>
        <input matInput type="text"   name="nombre">
        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
      </mat-form-field>

      <mat-form-field appearance="fill" class="inputContaine">
        <mat-label>Tipo documento</mat-label>
        <mat-select>
          <mat-option value="tarjetaIdentidad">T.I</mat-option>
          <mat-option value="cedulaCiudadania">C.C</mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field appearance="fill" class="inputContaine">
        <mat-label>Número de documento</mat-label>
        <input type="number" matInput placeholder="1234567890" name="documento" [(ngModel)]="regUsu.IDENTIFICACION_CLIENTE">
      </mat-form-field>
      
      
      <mat-form-field appearance="fill" class="inputContaine">
        <mat-label>Número de celular</mat-label>
        <!-- <span matPrefix>+57 &nbsp;</span> -->
        <input type="tel" name="celular"  matInput placeholder="555-555-1234">
        <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
      </mat-form-field>
      
      

      <mat-form-field appearance="fill" class="inputContaine">
        <mat-label>Correo</mat-label>
        <input matInput type="email" [(ngModel)]="regUsu.CORREO_CLIENTE"  name="correo">
        <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
      </mat-form-field>

      <mat-form-field class="inputContaine" appearance="fill">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" class="input" [(ngModel)]="regUsu.CONTRASENA_CLIENTE" name="contraseña">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="inputContaine" appearance="fill">
        <mat-label>Confirmar Contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" class="input"  name="contraseña">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button mat-button value="Iniciar Sesión" (click)="Registrar()" class="inputContainer btn">Registrarse</button>
      </form>
    </div>


  
  </div>