<app-navbar-home></app-navbar-home>
<div class="container">
    <div class="registro">
      <form class="registro__form">
        <h1>Registrarse</h1>
        <div class="bloque">

            <div class="columna">
                <div class="group">
                    <input type="text" required="required" name="nombre" formControlName="nombre"/><span class="highlight"></span><span
                        class="bar"></span>
                    <label>Nombre</label>
                </div>
            </div>
        
            <div class="columna">
                <div class="group">
                    <input type="text" required="required" name="apellido" formControlName="apellido" /><span class="highlight"></span><span
                        class="bar"></span>
                    <label>Apellido</label>
                </div>
            </div>
        </div>
            <div class="bloque">

                <div class="columna">
                    <div class="group">
                        <input type="number" required="required" name="documento" formControlName="documento" /><span class="highlight"></span><span
                            class="bar"></span>
                        <label>Documento</label>
                    </div>
                </div>
        
                <div class="columna">
                    <div class="group">
                        <input type="number" required="required"name="celular" formControlName="celular" /><span class="highlight"></span><span
                            class="bar"></span>
                        <label>Número de Celular</label>
                    </div>
                </div>
            </div>
  
        <div class="bloque">
            <div class="columna">
                <div class="group">
                    <input type="email" required="required" name="correo" formControlName="correo" /><span class="highlight"></span><span
                        class="bar"></span>
                    <label>Correo</label>
                </div>
            </div>

            <div class="columna">
                <div class="group">
                    <input type="email" required="required" name="confirmarCorreo" formControlName="confirmarCorreo" /><span class="highlight"></span><span
                        class="bar"></span>
                    <label>Confirmar Correo</label>
                </div> 

            </div>
        </div>

        <div class="bloque">
            <div  class="columna">
                <div class="group">
                    <input type="password" required="required" name="contraseña" formControlName="contraseña" /><span class="highlight"></span><span
                        class="bar"></span>
                    <label>Contraseña</label>
                </div> 
            </div>

            <div  class="columna">
                <div class="group">
                    <input type="password" required="required" name="confirmarContraseña" formControlName="confirmarContraseña" /><span class="highlight"></span><span
                        class="bar"></span>
                    <label>Confirmar Contraseña</label>
                </div>
            </div>
        </div>


        <input type="submit" class="btn" value="Registrarse" routerLink="/login">
      </form>
    </div>
  
  </div>
