/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

:root{
  --color-negro: #000;
  --color-negro-opaco: #00000037;
  --color-negro-opaco-dos: #0000006f;
  --color-blanco: #fff;
  --color-general-uno:#eb1d3585;
  --color-general-uno-opaco:#eb1d3555;
  --color-general-uno-opaco-dos:#eb1d352c;
  --color-general-dos: #eb1d35b2;
  --color-general-tres: #eb1d351f;
  --color-blue: blue;
  --color-red: red;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Neue-Helvetica', 'Arial', Sans-Serif;
    
  }

  body{
    height: 100%;
  }

  html{
    height: 100%;
    color: var(--color-negro);
  }

  ::-webkit-scrollbar{
    width: 8px;
  }

  ::-webkit-scrollbar-thumb{
    background-color: var(--color-negro-opaco-dos);
    border-radius: 20px;
  }


  input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      box-shadow: none;
      -webkit-box-shadow: 0 0 0 30px var(--color-blanco) inset !important;
    }

  
