<app-navbar-admin-home></app-navbar-admin-home>

<div class="container">
  <mat-drawer-container class="cotenedorBtn">
    <div class="contenbtn">
      <button
        type="button"
        class="btnslide"
        mat-button
        (click)="drawer.toggle()"
      >
        registrar proveedor
      </button>
    </div>
  </mat-drawer-container>

  <div class="columna_2">
    <div class="content-table">
      <table>
        <thead>
          <tr>
            <th>Cedula</th>
            <th>NOMBRE</th>
            <th>TELEFONO</th>
            <th>CORREO</th>
            <th>DIRECCIÓN</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody *ngFor="let Proveedor of ListarProveedor">
          <td>{{ Proveedor.IDENTIFICACION_PROVEEDOR }}</td>
          <td>{{ Proveedor.NOMBRE_PROVEEDOR }}</td>
          <td>{{ Proveedor.TELEFONO }}</td>
          <td>{{ Proveedor.CORREO }}</td>
          <td>{{ Proveedor.DIRECCION }}</td>
          <td>
            <mat-icon
              class="btn edit"
              (click)="ModificarProveedor(Proveedor.IDENTIFICACION_PROVEEDOR)"
              value="Editar"
              >create</mat-icon
            >
          </td>
          <td>
            <mat-icon
              class="btn delete"
              value="Eliminar"
              (click)="deleteProveedor(Proveedor.IDENTIFICACION_PROVEEDOR)"
              >delete_forever</mat-icon
            >
          </td>

          <tr></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<mat-drawer #drawer class="sliderNav" mode="side">
  <div class="containerTittle">
    <h2 class="tittle">proveedor</h2>
  </div>

  <form class="registro__form">
    <mat-form-field appearance="fill" class="inputContaine padding">
      <mat-label>Cedula</mat-label>
      <input
        matInput
        type="number"
        [(ngModel)]="proveedor.IDENTIFICACION_PROVEEDOR"
        name="Numero_doc"
      />
      <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="fill" class="inputContaine">
      <mat-label>Tipo documento</mat-label>
      <mat-select name="tipo">
        <mat-option value="tarjetaIdentidad">T.I</mat-option>
        <mat-option value="cedulaCiudadania">C.C</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="inputContainer">
      <mat-label>Direccion</mat-label>
      <input matInput type="text" />
      <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="fill" class="inputContaine padding">
      <mat-label>Nombre del proveedor</mat-label>
      <input
        matInput
        [(ngModel)]="proveedor.NOMBRE_PROVEEDOR"
        type="text"
        name="Costo_Servicio"
      />
      <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="fill" class="inputContaine">
      <mat-label>Número de celular</mat-label>
      <!-- <span matPrefix>+57 &nbsp;</span> -->
      <input
        type="tel"
        name="celular"
        [(ngModel)]="proveedor.TELEFONO"
        matInput
        placeholder="555-555-1234"
      />
      <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->
    </mat-form-field>

    <mat-form-field appearance="fill" class="inputContainer">
      <mat-label>Correo</mat-label>
      <input
        matInput
        [(ngModel)]="proveedor.CORREO"
        type="email"
        name="Costo_Servicio"
      />
      <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>

    <mat-form-field appearance="fill" class="inputContainer">
      <mat-label>Dirección</mat-label>
      <input
        matInput
        [(ngModel)]="proveedor.DIRECCION"
        type="text"
        name="Costo_Servicio"
      />
      <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>

    <button
      mat-button
      value="Registrar"
      (click)="AgregarProveedor()"
      class="inputContainer btnInicio"
    >
      registrar
    </button>
  </form>

  <button
    mat-button
    (click)="drawer.toggle()"
    class="inputContainer btnCancelar"
  >
    Cancelar
  </button>
</mat-drawer>
