<app-navbar-admin-home></app-navbar-admin-home>

<div class="container">
    <div class="registro">
      <form class="registro__form">
        <h1>Registrar proveedor</h1>
        <div class="group">
            <input type="txt" required="required" name="nombre" formControlName="nombre" /><span class="highlight"></span><span
                class="bar"></span>
            <label>Nombre del producto</label>
        </div>
        <div class="group">
            <input type="number" required="required" name="telefono" formControlName="telefono" /><span class="highlight"></span><span
                class="bar"></span>
            <label>Telefono</label>
        </div>
        <div class="group">
            <input type="email" required="required" name="correo" formControlName="correo" /><span class="highlight"></span><span
                class="bar"></span>
            <label>Correo</label>
        </div>
        <div class="group">
            <input type="text" required="required" name="dirrecion" formControlName="dirrecion" /><span class="highlight"></span><span
                class="bar"></span>
            <label>Dirreción</label>
        </div>

        <input type="submit" class="btn" value="Registrar">
      </form>
    </div>
  

    <div class="lista" >
        <div class="lista__contenido" >
            <table class="content-table" >
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>TELEFONO</th>
                        <th>CORREO</th>
                        <th>DIRECCIÓN</th>
                        <th colspan="2"></th>
                    </tr>
                </thead>
                <tbody >
                    <tr >
                        <!-- *ngFor="let Proveedor of ListarProveedor" -->
                        <!-- <td>{{Proveedor.IDENTIFICACION_PROVEEDOR}}</td>
                        <td>{{Proveedor.NOMBRE_PROVEEDOR}}</td>
                        <td>{{Proveedor.TELEFONO}}</td>
                        <td>{{Proveedor.CORREO}}</td>
                        <td>{{Proveedor.DIRECCION}}</td>
                        <td><input class="editar" type="button" value="Editar"></td>
                        <td><input class="eliminar" type="button" value="Eliminar"></td> -->
                    </tr>
                    <tr>
                        <td>a</td>
                        <td>s</td>
                        <td>da</td>
                        <td>asd</td>
                        <td>asd</td>
                        <td><input class="editar" type="button" value="Editar"></td>
                        <td><input class="eliminar" type="button" value="Eliminar"></td>
                     
                    </tr>
                    <tr>
                        <td>a</td>
                        <td>s</td>
                        <td>da</td>
                        <td>asd</td>
                        <td>asd</td>
                        <td><input class="editar" type="button" value="Editar"></td>
                        <td><input class="eliminar" type="button" value="Eliminar"></td>
        
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>

  </div>

