<app-navbar-admin-home></app-navbar-admin-home>

<div class="container">
    <div class="registro">
      <form class="registro__form">
        <h1>Información servicio</h1>
      
        <div class="group">
            <input [(ngModel)]="servicio.CODIGO_SERVICIO" type="number" required="required" name="Numero_doc"  /><span class="highlight"></span><span
                class="bar"></span>
            <label>Codigo servicio</label>
        </div>
        <div class="group">
            <input [(ngModel)]="servicio.NOMBRE_SERVICIO" type="text" required="required" name="Nombre"  maxlength="40" pattern="[a-z-A-Z]+" /><span class="highlight"></span><span
                class="bar"></span>
            <label>Nombre servicio</label>
        </div>
        <div class="group">
            <input [(ngModel)]="servicio.COSTO_SERVICIO" type="number" required="required" name="Fecha" /><span class="highlight"></span><span
                class="bar"></span>
                <label>Costo servicio</label>
        </div>     
        
        
       

        <input type="button" class="btn" value="Guardar" (click)="modificarServicio()">
      </form>
    </div>
  

    
  </div>

