.container{
    margin: 20px;
    display: flex;
    justify-content: center;
  }

  .card{
    box-shadow: 1px 1px 4px rgba(235, 29, 53, 0.522);
    width: 250px;
    height: 300px;
    border-radius: 5px;
    display: block;
    float: left;
    margin: 20px auto;
  }

  .card h3{
    display: flex;
    justify-content: center;
    font-weight: 300;
  }