.container{
    margin-top: 20px;
  }

  .card{
    width: 100%;
    height: 300px;
    display: block;
    overflow: hidden;
  }

  .mitad{
    background-color: #0000000a;
  }

  .card-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .columna_1{
    width: 40%;
    padding: 0 4%;
  }
  .columna_2{
    width: 60%;
    text-align: center;
    padding: 6%;
  
  }

  .columna_2 h3{
    text-transform: uppercase;
    font-weight: lighter;
  }
  .columna_2 p{
    margin-top: 10px;
  }

  .card .img{
    margin-top: 10px;
    width: 400px;
    height: 280px;
    background-color: bisque;
    border-radius: 10px;
    overflow: hidden;
  }

  .card .img img{
    object-fit: cover;
    width: 100%;
  }


  @media (max-widht: 900px) {
    div.columna_2{
      display: block;
    }
  }