<div class="container">
    <div>
        <div class="card">
            <div class="card-content">
                <div class="columna_1">
                    <div class="img">
                        <img src="../assets/img/uñas.png" alt="">
                    </div>
                </div>
                <div class="columna_2">
                    <div>
                        <h3>Uñas</h3>
                        <div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda adipisci exercitationem, voluptates dicta quae incidunt accusamus itaque magnam officiis maxime quo eveniet ipsam nostrum consequuntur id quas explicabo impedit facere.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="card mitad">
            <div class="card-content">
                <div class="columna_2">
                    <div>
                        <h3>Peluqueria</h3>
                        <div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda adipisci exercitationem, voluptates dicta quae incidunt accusamus itaque magnam officiis maxime quo eveniet ipsam nostrum consequuntur id quas explicabo impedit facere.</p>
                        </div>
                    </div>
                </div>
                <div class="columna_1">
                    <div class="img">
                        <img src="../assets/img/pelu.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="card">
            <div class="card-content">
                <div class="columna_1">
                    <div class="img">
                        <img src="../assets/img/barb.png" alt="barberia">
                    </div>
                </div>
                <div class="columna_2">
                    <div>
                        <h3>Barberia</h3>
                        <div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda adipisci exercitationem, voluptates dicta quae incidunt accusamus itaque magnam officiis maxime quo eveniet ipsam nostrum consequuntur id quas explicabo impedit facere.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
