<!-- <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo"><a routerLink="/adminhome"><img src="../assets/logo2.jpg" alt="logo" class="img"></a></label>
    <ul>
        <li><a routerLink="/adminhome">Servicios</a></li>
        <li><a routerLink="/empleado">Empleado</a></li>
        <li><a routerLink="/proveedores">Proveedor</a></li>
        <li><a routerLink="/inventario">Producto</a></li>
        <li><a class="cerrar" (click)="logoutUser()">Cerrar Sesión</a></li>
    </ul>
  </nav> -->

<mat-toolbar class="nav">
  <span class="logo"
    ><a routerLink="/adminhome"
      ><img src="../assets/logo.jpg" alt="logo" class="img" /></a
  ></span>
  <span class="example-spacer"></span>
  <span><a routerLink="/adminhome">servicios</a></span>
  <span><a routerLink="/empleado">empleado</a></span>
  <span><a routerLink="/proveedores">Proveedor</a></span>
  <span><a routerLink="/inventario">Producto</a></span>
  <span><a class="cerrar" (click)="logoutUser()">Cerrar Sesión</a></span>
</mat-toolbar>
