<nav class="navbar">
    <a routerLink="/home"><img src="../assets/logo2.jpg" alt="logo" class="img"></a>
    <div class="navbar-buttons">   
        <ul class="navbar-menu">
            <li><a class="navbar-item" routerLink="/adminhome">Inicio</a></li>
            <li><a class="navbar-item" routerLink="/empleado">Empleado</a></li>
            <li><a class="navbar-item" routerLink="/proveedores">Proveedor</a></li>
            <li><a class="navbar-item" routerLink="/inventario">Producto</a></li>
            <li><a class="navbar-item" routerLink="/admin">Cerrar Sesión</a></li>
        </ul>
    
    </div>
  </nav>


  