<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <label class="logo"><a routerLink="/adminhome"><img src="../assets/logo2.jpg" alt="logo" class="img"></a></label>
    <ul>
        <li><a routerLink="/adminhome">Inicio</a></li>
        <li><a routerLink="/empleado">Empleado</a></li>
        <li><a routerLink="/proveedores">Proveedor</a></li>
        <li><a routerLink="/inventario">Producto</a></li>
        <li><a (click)="logoutUser()">Cerrar Sesión</a></li>
    </ul>
  </nav>
  